
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #FFFFFF;
}

#container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1f1a15;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1492D2;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}


header, aside, article.wstep, footer {
    padding: 20px;
    margin: 10px;
    background-color: #1492D2;
    text-align: center;
}



article.wstep {
    width: 100%;
}


#content {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


article.main {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #0381C1;
}

#abox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 90%; 
}


#box1, #box2, #box3, #box4 {
    background-color: #0270B0;
    color: #fff;
    min-height: 400px; 
    padding: 10px;
    box-sizing: border-box;
}


footer {
    width: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    text-align: center;
    margin-top: auto; 
    color: #FFF;
}
